<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CRUD app</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="container">
<h1>CRUD application with NodeJS</h1>
